header {
    background-color: #FF3333;
    justify-content: space-between;
    padding: 0.75em 3em;
    h2 {
        color: #FFFFFF;
        font-size: 4em;
    }

    & > div {
        width: 33vw;
        
        & > img {
            width: calc(64px * 1.5);
            height: calc(32px * 1.5);
        }
    }
}
